<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en" data-textdirection="ltr" class="loaded">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Epose
    </title>
    <link rel="apple-touch-icon" th:href="@{/app-assets/images/ico/apple-icon-120.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/ico/favicon.ico}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css"
          rel="stylesheet">

    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/vendors.css}">
    <!-- END VENDOR CSS-->
    <!-- BEGIN MODERN CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/app.css}">
    <!-- END MODERN CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/menu/menu-types/vertical-menu-modern.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/colors/palette-gradient.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/charts/jquery-jvectormap-2.0.3.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/vendors/css/charts/morris.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/fonts/simple-line-icons/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/app-assets/css/core/colors/palette-gradient.css}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <!-- END Custom CSS-->
    <script type="text/javascript">
        function changeSrc(Text) {
            document.getElementById("content").src;
        }
    </script>
</head>

<!-- BODY -->
<body class="vertical-layout vertical-menu-modern 2-columns   menu-expanded "
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<!-- NAVBAR -->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto">
                    <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                        <i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item mr-auto">
                    <a class="navbar-brand " th:href="@{/classroom}">
                       <!-- <img class="brand-logo" alt="modern admin logo" src="app-assets/images/logo/logo.png">-->
                        <i class="ft-chevrons-left"></i>
                        <h3 class="brand-text">Epose</h3>
                    </a>
                </li>
                <li class="nav-item d-none d-md-block float-right"><a class="nav-link modern-nav-toggle pr-0"
                                                                      data-toggle="collapse"><i
                        class="toggle-icon ft-toggle-right font-medium-3 white" data-ticon="ft-toggle-right"></i></a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="la la-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <!-- 最大化 -->
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                            class="ficon ft-maximize"></i></a></li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <!--TODO 动作标题-->
                    <h3 th:text="${course.getName()}">瑜伽下犬式</h3>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--/ NAVBAR -->


<!-- NAVIGATION - MENU -->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">

        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item has-sub open"><a href="#"><span class="menu-title" data-i18n=""><i class="ft-tv"></i>阶段学习</span></a>
                <ul class="menu-content" style="">
                    <!--TODO 动作标题-->
                    <li class="has-sub is-shown"><a class="menu-item" href="#" th:text="${course.getName()}"></a>
                        <ul class="menu-content" style="">
                            <li th:each="action : ${actions}"><a class="menu-item" href="#" th:href="@{/course(actionid=${action.getId()}, courseid=${course.id})}" data-i18n="nav.dash.ecommerce" th:text="${action.getName()}"><i class="ft-check"></i>动作一</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--TODO 资料下载链接，没有的直接把这部分注释掉-->
            <li class=" nav-item"><a href="#"><i class="ft-folder"></i><span class="menu-title" data-i18n="nav.dash.main">资料下载</span></a>
                <ul class="menu-content">
                    <li class=" nav-item"><a th:href="@{${course.docPath}}"> <span class="menu-title" data-i18n="nav.page_layouts.main">ppt</span><i class="ft-download float-right"></i></a>
                </ul>
            </li>

            </li>
        </ul>
    </div>
</div>
<!--/ NAVIGATION - MENU -->

<!-- CONTENT -->

<div class="" th:class="${actionid!=''?'app-content content container-fluid':'hidden'}" >


    <script th:src="@{/js/tf.min.js}"></script>
    <script th:src="@{/js/posenet.min.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/FileSaver.js}"></script>
    <script th:src="@{/js/epose.js}"></script>
    <!--页面内容-->
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h2 class="content-header-title">概述<script>${actionid}</script></h2>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a th:href="@{/classroom}">主页</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body"><!-- Overview -->
            <div class="card">
                <div class="card-header">
                    <h4 id="basic-forms" class="card-title" th:text="${currentAction.getName()}">瑜伽下犬式</h4>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content" aria-expanded="true">
                    <div class="card-body">
                        <p class="card-text" th:text="${currentAction.getIntro()}">假跪立，挺直腰背，臀部坐到脚跟上做深呼吸。吸气，身体向上伸直，头部，肩部、腰部和臀部都处在同一直线上。</p>
                    </div>
                </div>
            </div>
            <video id="video" style='display: none' ></video>

            <canvas id="canvas2" style="display: inline"></canvas>
            <canvas id="canvas" style="display: inline;"></canvas>
            <canvas id="canvas3" style="display: inline"></canvas>

            <img id = "img" th:src="@{/images/actions/1-2.jpg}" style="display: none"/>

        </div>
    </div>
    <script>
        var std = [];
        var scorectx;
        var part = [
            "左肘",
            "右肘",
            "左肩",
            "右肩",
            "左腰",
            "右腰",
            "左膝",
            "右膝"];
        function updateScore(actionid,part,total)
        {
            $.ajax ({
                url:"updateScore",
                method:"POST",
                data:{
                    actionid:actionid,
                    part:part,
                    total:total
                }
            });
        }
        async function onframe() {
            console.log("1");
            /*<![CDATA[*/
            id = [[${actionid}]];
            setting.ctx.fillRect(0,0,setting.videoWidth,setting.videoHeight);
            const pose =  await setting.net.estimateSinglePose(setting.video,setting.scale,setting.fliph,setting.stride);
            console.log(pose);
            setting.ctx.drawImage(setting.video,0,0);
            var user = [];
            if (pose.score >= setting.confidence.pose) {
                user = drawkps(pose.keypoints,setting.confidence.part,setting.ctx);
                drawSkeleton(pose.keypoints,setting.confidence.part, setting.ctx);
            }

            var score = evaluate(std,user);
            console.log(score);
            scorectx.font = "25px Arial";
            scorectx.fillStyle = "#a5ffd9";
            scorectx.fillRect(0,0,setting.videoWidth/2,setting.videoHeight);
            var part = "";
            var total = 0;
            for (var i = 0; i < score.length; ++i) {
                scorectx.fillStyle = "#4276ff";
                scorectx.fillText(part[i]+"得分:" + ((score[i] < 0 || isNaN(score[i]))?"无法检测部位":score[i]), 10, 30 * (i + 1));
                part += score[i];
                total+= score[i];
            }
            total/=score.length;
            updateScore(id,part,total);
            /*]]>*/
            requestAnimationFrame(onframe);
        }


        Epose.onInited = async function () {
            var img = document.getElementById('img');
            var pose = await setting.net.estimateSinglePose(img,setting.scale,setting.fliph,setting.stride);
            var can2 =  document.getElementById('canvas2');
            var can3 = document.getElementById('canvas3');
            can2.width = setting.videoWidth;
            can2.height = setting.videoHeight;
            can3.width = setting.videoWidth/2;
            can3.height = setting.videoHeight;

            scorectx = can3.getContext('2d');
            var stctx = can2.getContext('2d');
            stctx.drawImage(img,0,0);
            std = drawkps(pose.keypoints,setting.confidence.part,stctx);
            drawSkeleton(pose.keypoints,setting.confidence.part,stctx);
            onframe();
        }
        Epose.init();
    </script>
</div>


<!--/ CONTENT -->

<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <span
                class="text-bold-700">dx</span>, All rights reserved. </span>
    </p>
    <!-- ... -->
</footer>

<!-- BEGIN VENDOR JS-->
<script th:src="@{/app-assets/vendors/js/vendors.min.js}" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script th:src="@{/app-assets/vendors/js/charts/chart.min.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/charts/raphael-min.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/charts/morris.min.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js}"
        type="text/javascript"></script>
<script th:src="@{/app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js}"
        type="text/javascript"></script>
<script th:src="@{/app-assets/data/jvector/visitor-data.js}" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN MODERN JS-->
<script th:src="@{/app-assets/js/core/app-menu.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/core/app.js}" type="text/javascript"></script>
<script th:src="@{/app-assets/js/scripts/customizer.js}" type="text/javascript"></script>
<!-- END MODERN JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script th:src="@{/app-assets/js/scripts/pages/dashboard-sales.js}" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
</body>
<!--/ BODY -->
</html>